.tab {
    @include flex();
    width: 100%;
    border-bottom: 1px #f5f5f5 solid;
    background-color: #ffffff;
    box-sizing: border-box;
  
    .tab-scroll {
      flex: 1;
      box-sizing: border-box;
      height: 90rpx;
			overflow: hidden;
      .tab-scroll-box {
        @include flex(flex-start);
        height: 90rpx;
        box-sizing: border-box;
        .tab-scroll-item {
          flex-shrink: 0;
          padding: 0 20rpx;
          color: #333333;
          font-size: 28rpx;
          &.active {
            color: $base-color;
          }
        }
      }
    }
    .tab-icons {
      width: 90rpx;
      position: relative;
      @include flex(center);
			&:before {
			  content: "";
			  position: absolute;
			  height: 32rpx;
			  left: -30rpx;
			  width: 30rpx;
				background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
			}
      &:after {
        content: "";
        position: absolute;
        height: 32rpx;
        left: -10rpx;
        width: 20rpx;
				border-right: 1px solid #ddd;
      }
    }
  }